body {
    font-family: Arial, Helvetica, sans-serif;
}

.file-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icon {
    max-width: 2rem;
    vertical-align: middle;
    margin-right: 0.1rem;
}

.clickable {
    cursor: pointer;
}

.filename {
    display: flex;
    overflow-wrap: anywhere;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

th {
    text-decoration: underline;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.button-panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    gap: 50px;
}

.button-4 {
    background-color: #2e4fa4;
}

.button-4:hover {
    background-color: #2c4b97;
}

.button-4:disabled {
    background-color: #94a2d3;
}

.button-4:active {
    background-color: #29468e;
}

.button-4:focus {
    box-shadow: rgba(46, 79, 164, 0.4) 0 0 0 3px;
    outline: none;
}

.button-abort {
    position: absolute;
    top: calc(50% + 100px);
    left: calc(50% - 35px);
    width: 70px;
    height: 30px;
    background-color: #a42e4f;
}

.button-abort:hover {
    background-color: #972c4b;
}

.lds-ring {
    display: inline-block;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff99;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #0b0f19;
        color: #f3f4f6;
    }

    a {
        color: #f3f4f6;
    }

    a:visited {
        color: #f3f4f6;
    }

    .loading {
        background-color: #11182799;
    }

    .button-3 {
        color: #f3f4f6;
    }
    .button-panel {
        border-bottom: 1px solid #9ca3af;
    }
}

.animated-progress {
    position: absolute;
    top: calc(50% + 40px);
    left: calc(50% - 150px);
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid #374151;
    overflow: hidden;
}

.animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    transition: width 0.5s ease-out;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    font-weight: bold;
}

.progress-blue span {
    background-color: #0060df;
}
